{% extends 'base.html' %}

{% block content %}
    <h1>Your Boulders</h1>
    {% if boulders %}

    <tr>
        {% for boulder in boulders %}
    <tr>
        {% for field, value in boulder.get_boulder_fields_and_values.items %}
            <td> {{ field }} ->> {{ value }}</td>
            <br/>
            <br/>
        {% endfor %}
      <br/>
        <br/>
        <td> Gesamt {{ boulder.points }}</td>
    </tr>
{% endfor %}
    {% endif %}

    <p><a href="{% url 'jagd:ranking_view' %}">CHECK RANKING</a></p>
    <p><a href="{% url 'jagd:add_boulders_view' %}">ADD BOULDERS</a></p>
     <p><a href="{% url 'jagd:home' %}">HOME</a></p>
        <br/>
        <br/>
        <h3> Logged User: {{ username }}</h3>



{% endblock %}
