{% extends 'base.html' %}

{% block content %}
    <h1>Dein Ergebnis</h1>
     <h3> Jäger/in: {{ username }}</h3>
    {% if boulders %}

    <tr>
        {% for boulder in boulders %}
    <tr>
        {% for field, value in boulder.get_boulder_fields_and_values.items %}
            <td> {{ field }} ->> {{ value }}</td>
            <br/>
            <br/>
        {% endfor %}
      <br/>
        <br/>
        <td> Gesamt {{ boulder.points }}</td>
    </tr>
{% endfor %}
    {% endif %}

    <p><a href="{% url 'jagd:ranking_view' %}" class="button">Das Ranking</a></p>
    <p><a href="{% url 'jagd:add_boulders_view' %}" class="button">Boulder hinzufügen</a></p>
     <p><a href="{% url 'jagd:home' %}" class="button">Startseite</a></p>
        <br/>
        <br/>



{% endblock %}
